{% extends 'caru/base.html' %}

{% block content}
<h2>Cheirinho de destaque</h2>
<p>post de destaque semanal</p>

<img src ="{% static 'caru/imgs/FlorDeLaranjeira.png' %}" class = "imgsDestaque" alt="Flor de Laranjeira" srcset="">
<img src ="{% static 'caru/imgs/ekosAlmas2025.png' %}" class = "imgsDestaque" alt="ekos" srcset="">
<img src ="{% static 'caru/imgs/BodySplashWaffle.png' %}" class = "imgsDestaque" alt="BodySplash" srcset="">

<p class="textDestaque">
    Delicada, cítrica e cheia de leveza, Águas de Flor de <br> Laranjeira é a escolha perfeita para quem busca frescor e <br> bem-estar em cada borrifada.
</p>

<p class="textDestaque">
    Ekos Alma 2025 traduz a força da Amazônia em uma <br>fragrância marcante, rica em resinas, especiarias e <br>madeiras que despertam os sentidos.
</p>

<p class ="textDestaque"> 
    O Body Splash Waffle da WePink é agradável e doce, mas <br>decepciona na duração e intensidade da fragrância. É uma <br>opção leve, mas poderia entregar mais personalidade para <br>realmente se destacar
</p>

<h2>Tá quente ai?</h2>
<p>Ranking dos 4 melhores perfumes de verão da semana</p>
<p>Acompanhe os rankings da comunidade e participe dos próximos</p>

<p>Floratta romance de verão</p>
<p>O Boticário</p>
<p>Chá preto e bergamota</p>
<p>Granado</p>
<p>Floratta Blue</p>
<p>O Boticário</p>
<p>Ekos frescor de pitanga</p>
<p>Natura</p>

<h2>Fofocas aromáticas</h2>
<p>Vem conferir as discussões relevantes na comunidade</p>



